*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#app,.page{
    height: 100%;
    overflow: hidden;
    background: rgb(247,247,247);
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-bar{
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.top-bar-title{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.home-content{
    flex-grow: 1;
    overflow: auto;
}

.bottom-bar{
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-top: 1px solid #ddd;
    background: rgb(237,237,237);
}

.top-bar-btn-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-btn{
    width: 20px;
    margin-right: 5px;
}

.bottom-button{
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    flex-shrink: 0;
    font-size: 13px;
}

.btn-img{
    width: 25px;
    margin-bottom: 5px;
}

.active{
    color: #57be6a;
}

.white{
    background: #fff;
}

.chat-item{
    background: #fff;
    padding: 12px;
    border-bottom: 1px solid #eee;
}